* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

nav {
  background: skyblue;
  display: flex;
  width: min(50%, 200px);
  height: 100dvh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

a {
  padding: 4px 8px;
}

a:active,
a:hover,
.aktif {
  background: #aaa;
}

.container {
  width: 100%;
  height: 100dvh;
  overflow: scroll;
  background: #bbb;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  mix-blend-mode: difference;
}

#satu {
  background: gray;
}

#dua {
  background: red;
}

#tiga {
  background: yellowgreen;
}

#empat {
  background: purple;
}

#lima {
  background: green;
}
